body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

p{
    margin: 25px;
}

.form{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#formInput{
    width: 240px;
}

#send{
    background-color: #c9c9c9;
    border: none;
    opacity: 70%;
    border-radius: 5px;
    height: 35px;
    width: 70px;
}

#send:hover{
    cursor: pointer;
    background-color: #a0a0a0;
}

.body{
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

table{
    height: 1690px;
    width: 900px;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #f9c6c6;
}

thead{
    height: 40px;
    background-color: #dcd7d778;
}

.warna{
    background-color: rgba(0, 255, 0, 0.26);
}